<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXNJBCdVpL_2qa8JqXQ-cEntuzCxBXev8</string>
	<key>GCM_SENDER_ID</key>
	<string>308593416369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lvher.insideout</string>
	<key>PROJECT_ID</key>
	<string>insideout-8c405</string>
	<key>STORAGE_BUCKET</key>
	<string>insideout-8c405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308593416369:ios:506b91123bdfddd054aa90</string>
</dict>
</plist>